<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.CcCkxxbMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.CcCkxxb" >
    <constructor >
      <idArg column="CK_BH" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CK_M" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BZXX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CK_BH, CK_M, BZXX, COM_ID, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.CcCkxxbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CC_CKXXB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CC_CKXXB
    where CK_BH = #{ckBh,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CC_CKXXB
    where CK_BH = #{ckBh,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.CcCkxxbExample" >
    delete from CC_CKXXB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.CcCkxxb" >
    insert into CC_CKXXB (CK_BH, CK_M, BZXX, 
      COM_ID, LAST_TIME)
    values (#{ckBh,jdbcType=DECIMAL}, #{ckM,jdbcType=VARCHAR}, #{bzxx,jdbcType=VARCHAR}, 
      #{comId,jdbcType=DECIMAL}, #{lastTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.CcCkxxb" >
    insert into CC_CKXXB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ckBh != null" >
        CK_BH,
      </if>
      <if test="ckM != null" >
        CK_M,
      </if>
      <if test="bzxx != null" >
        BZXX,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ckBh != null" >
        #{ckBh,jdbcType=DECIMAL},
      </if>
      <if test="ckM != null" >
        #{ckM,jdbcType=VARCHAR},
      </if>
      <if test="bzxx != null" >
        #{bzxx,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.CcCkxxbExample" resultType="java.lang.Integer" >
    select count(*) from CC_CKXXB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CC_CKXXB
    <set >
      <if test="record.ckBh != null" >
        CK_BH = #{record.ckBh,jdbcType=DECIMAL},
      </if>
      <if test="record.ckM != null" >
        CK_M = #{record.ckM,jdbcType=VARCHAR},
      </if>
      <if test="record.bzxx != null" >
        BZXX = #{record.bzxx,jdbcType=VARCHAR},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CC_CKXXB
    set CK_BH = #{record.ckBh,jdbcType=DECIMAL},
      CK_M = #{record.ckM,jdbcType=VARCHAR},
      BZXX = #{record.bzxx,jdbcType=VARCHAR},
      COM_ID = #{record.comId,jdbcType=DECIMAL},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.CcCkxxb" >
    update CC_CKXXB
    <set >
      <if test="ckM != null" >
        CK_M = #{ckM,jdbcType=VARCHAR},
      </if>
      <if test="bzxx != null" >
        BZXX = #{bzxx,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CK_BH = #{ckBh,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.CcCkxxb" >
    update CC_CKXXB
    set CK_M = #{ckM,jdbcType=VARCHAR},
      BZXX = #{bzxx,jdbcType=VARCHAR},
      COM_ID = #{comId,jdbcType=DECIMAL},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where CK_BH = #{ckBh,jdbcType=DECIMAL}
  </update>
</mapper>