<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.OfficeChecktaskMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.OfficeChecktask" >
    <constructor >
      <idArg column="TASK_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="TASK_TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TASK_CONTENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TASK_PUBLISHER" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="TARGET_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="TASK_STARTTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TASK_ENDTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TASK_ID, TASK_TITLE, TASK_CONTENT, TASK_PUBLISHER, TARGET_ID, TASK_STARTTIME, TASK_ENDTIME, 
    COM_ID, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.OfficeChecktaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OFFICE_CHECKTASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OFFICE_CHECKTASK
    where TASK_ID = #{taskId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OFFICE_CHECKTASK
    where TASK_ID = #{taskId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.OfficeChecktaskExample" >
    delete from OFFICE_CHECKTASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.OfficeChecktask" >
    insert into OFFICE_CHECKTASK (TASK_ID, TASK_TITLE, TASK_CONTENT, 
      TASK_PUBLISHER, TARGET_ID, TASK_STARTTIME, 
      TASK_ENDTIME, COM_ID, LAST_TIME
      )
    values (#{taskId,jdbcType=DECIMAL}, #{taskTitle,jdbcType=VARCHAR}, #{taskContent,jdbcType=VARCHAR}, 
      #{taskPublisher,jdbcType=DECIMAL}, #{targetId,jdbcType=DECIMAL}, #{taskStarttime,jdbcType=TIMESTAMP}, 
      #{taskEndtime,jdbcType=TIMESTAMP}, #{comId,jdbcType=DECIMAL}, #{lastTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.OfficeChecktask" >
    insert into OFFICE_CHECKTASK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="taskTitle != null" >
        TASK_TITLE,
      </if>
      <if test="taskContent != null" >
        TASK_CONTENT,
      </if>
      <if test="taskPublisher != null" >
        TASK_PUBLISHER,
      </if>
      <if test="targetId != null" >
        TARGET_ID,
      </if>
      <if test="taskStarttime != null" >
        TASK_STARTTIME,
      </if>
      <if test="taskEndtime != null" >
        TASK_ENDTIME,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=DECIMAL},
      </if>
      <if test="taskTitle != null" >
        #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null" >
        #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskPublisher != null" >
        #{taskPublisher,jdbcType=DECIMAL},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=DECIMAL},
      </if>
      <if test="taskStarttime != null" >
        #{taskStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskEndtime != null" >
        #{taskEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.OfficeChecktaskExample" resultType="java.lang.Integer" >
    select count(*) from OFFICE_CHECKTASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OFFICE_CHECKTASK
    <set >
      <if test="record.taskId != null" >
        TASK_ID = #{record.taskId,jdbcType=DECIMAL},
      </if>
      <if test="record.taskTitle != null" >
        TASK_TITLE = #{record.taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.taskContent != null" >
        TASK_CONTENT = #{record.taskContent,jdbcType=VARCHAR},
      </if>
      <if test="record.taskPublisher != null" >
        TASK_PUBLISHER = #{record.taskPublisher,jdbcType=DECIMAL},
      </if>
      <if test="record.targetId != null" >
        TARGET_ID = #{record.targetId,jdbcType=DECIMAL},
      </if>
      <if test="record.taskStarttime != null" >
        TASK_STARTTIME = #{record.taskStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskEndtime != null" >
        TASK_ENDTIME = #{record.taskEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OFFICE_CHECKTASK
    set TASK_ID = #{record.taskId,jdbcType=DECIMAL},
      TASK_TITLE = #{record.taskTitle,jdbcType=VARCHAR},
      TASK_CONTENT = #{record.taskContent,jdbcType=VARCHAR},
      TASK_PUBLISHER = #{record.taskPublisher,jdbcType=DECIMAL},
      TARGET_ID = #{record.targetId,jdbcType=DECIMAL},
      TASK_STARTTIME = #{record.taskStarttime,jdbcType=TIMESTAMP},
      TASK_ENDTIME = #{record.taskEndtime,jdbcType=TIMESTAMP},
      COM_ID = #{record.comId,jdbcType=DECIMAL},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.OfficeChecktask" >
    update OFFICE_CHECKTASK
    <set >
      <if test="taskTitle != null" >
        TASK_TITLE = #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null" >
        TASK_CONTENT = #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskPublisher != null" >
        TASK_PUBLISHER = #{taskPublisher,jdbcType=DECIMAL},
      </if>
      <if test="targetId != null" >
        TARGET_ID = #{targetId,jdbcType=DECIMAL},
      </if>
      <if test="taskStarttime != null" >
        TASK_STARTTIME = #{taskStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskEndtime != null" >
        TASK_ENDTIME = #{taskEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.OfficeChecktask" >
    update OFFICE_CHECKTASK
    set TASK_TITLE = #{taskTitle,jdbcType=VARCHAR},
      TASK_CONTENT = #{taskContent,jdbcType=VARCHAR},
      TASK_PUBLISHER = #{taskPublisher,jdbcType=DECIMAL},
      TARGET_ID = #{targetId,jdbcType=DECIMAL},
      TASK_STARTTIME = #{taskStarttime,jdbcType=TIMESTAMP},
      TASK_ENDTIME = #{taskEndtime,jdbcType=TIMESTAMP},
      COM_ID = #{comId,jdbcType=DECIMAL},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where TASK_ID = #{taskId,jdbcType=DECIMAL}
  </update>
  
<insert id="getfabu" parameterType="com.sc.bean.OfficeChecktask" >
    <selectKey resultType="java.lang.Long"  order="AFTER" keyProperty="taskId">
        select OFFICE_TASKDETAIL_AAA.CURRVAL  from DUAL
    </selectKey>
    insert into OFFICE_CHECKTASK (TASK_TITLE, 
      TASK_CONTENT, TASK_PUBLISHER, TARGET_ID, TASK_STARTTIME, TASK_ENDTIME, COM_ID, LAST_TIME)
    values (#{taskTitle,jdbcType=VARCHAR}, 
      #{taskContent,jdbcType=VARCHAR}, #{taskPublisher,jdbcType=DECIMAL}, #{targetId,jdbcType=DECIMAL}, 
      #{taskStarttime,jdbcType=TIMESTAMP}, #{taskEndtime,jdbcType=TIMESTAMP}, #{comId,jdbcType=DECIMAL}, #{lastTime,jdbcType=TIMESTAMP})
</insert>
</mapper>