<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SalDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.SalDetails" >
    <constructor >
      <idArg column="DETAILS_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ORDER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_COUNT" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_PRICES" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DETAILS_ID, ORDER_ID, PRODUCT_ID, PRODUCT_COUNT, PRODUCT_PRICES, REMARK, COM_ID, 
    LAST_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.SalDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SAL_DETAILS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SAL_DETAILS
    where DETAILS_ID = #{detailsId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SAL_DETAILS
    where DETAILS_ID = #{detailsId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.SalDetailsExample" >
    delete from SAL_DETAILS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.SalDetails" >
    insert into SAL_DETAILS (DETAILS_ID, ORDER_ID, PRODUCT_ID, 
      PRODUCT_COUNT, PRODUCT_PRICES, REMARK, 
      COM_ID, LAST_DATE)
    values (#{detailsId,jdbcType=DECIMAL}, #{orderId,jdbcType=DECIMAL}, #{productId,jdbcType=DECIMAL}, 
      #{productCount,jdbcType=DECIMAL}, #{productPrices,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{comId,jdbcType=DECIMAL}, #{lastDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.SalDetails" >
    insert into SAL_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailsId != null" >
        DETAILS_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="productCount != null" >
        PRODUCT_COUNT,
      </if>
      <if test="productPrices != null" >
        PRODUCT_PRICES,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="lastDate != null" >
        LAST_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailsId != null" >
        #{detailsId,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=DECIMAL},
      </if>
      <if test="productPrices != null" >
        #{productPrices,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.SalDetailsExample" resultType="java.lang.Integer" >
    select count(*) from SAL_DETAILS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SAL_DETAILS
    <set >
      <if test="record.detailsId != null" >
        DETAILS_ID = #{record.detailsId,jdbcType=DECIMAL},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      </if>
      <if test="record.productCount != null" >
        PRODUCT_COUNT = #{record.productCount,jdbcType=DECIMAL},
      </if>
      <if test="record.productPrices != null" >
        PRODUCT_PRICES = #{record.productPrices,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastDate != null" >
        LAST_DATE = #{record.lastDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SAL_DETAILS
    set DETAILS_ID = #{record.detailsId,jdbcType=DECIMAL},
      ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      PRODUCT_COUNT = #{record.productCount,jdbcType=DECIMAL},
      PRODUCT_PRICES = #{record.productPrices,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      COM_ID = #{record.comId,jdbcType=DECIMAL},
      LAST_DATE = #{record.lastDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.SalDetails" >
    update SAL_DETAILS
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productCount != null" >
        PRODUCT_COUNT = #{productCount,jdbcType=DECIMAL},
      </if>
      <if test="productPrices != null" >
        PRODUCT_PRICES = #{productPrices,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastDate != null" >
        LAST_DATE = #{lastDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DETAILS_ID = #{detailsId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.SalDetails" >
    update SAL_DETAILS
    set ORDER_ID = #{orderId,jdbcType=DECIMAL},
      PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      PRODUCT_COUNT = #{productCount,jdbcType=DECIMAL},
      PRODUCT_PRICES = #{productPrices,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      COM_ID = #{comId,jdbcType=DECIMAL},
      LAST_DATE = #{lastDate,jdbcType=TIMESTAMP}
    where DETAILS_ID = #{detailsId,jdbcType=DECIMAL}
  </update>
</mapper>