<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SalRecordMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.SalRecord" >
    <constructor >
      <idArg column="RECORD_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="RECORD_TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RECORD_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CUSTOM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="RECORD_CONTENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_ID, RECORD_TITLE, RECORD_TIME, CUSTOM_ID, RECORD_CONTENT, COM_ID, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.SalRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SAL_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SAL_RECORD
    where RECORD_ID = #{recordId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SAL_RECORD
    where RECORD_ID = #{recordId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.SalRecordExample" >
    delete from SAL_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.SalRecord" >
    insert into SAL_RECORD (RECORD_ID, RECORD_TITLE, RECORD_TIME, 
      CUSTOM_ID, RECORD_CONTENT, COM_ID, 
      LAST_TIME)
    values (#{recordId,jdbcType=DECIMAL}, #{recordTitle,jdbcType=VARCHAR}, #{recordTime,jdbcType=TIMESTAMP}, 
      #{customId,jdbcType=DECIMAL}, #{recordContent,jdbcType=VARCHAR}, #{comId,jdbcType=DECIMAL}, 
      #{lastTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.SalRecord" >
    insert into SAL_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        RECORD_ID,
      </if>
      <if test="recordTitle != null" >
        RECORD_TITLE,
      </if>
      <if test="recordTime != null" >
        RECORD_TIME,
      </if>
      <if test="customId != null" >
        CUSTOM_ID,
      </if>
      <if test="recordContent != null" >
        RECORD_CONTENT,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=DECIMAL},
      </if>
      <if test="recordTitle != null" >
        #{recordTitle,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customId != null" >
        #{customId,jdbcType=DECIMAL},
      </if>
      <if test="recordContent != null" >
        #{recordContent,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.SalRecordExample" resultType="java.lang.Integer" >
    select count(*) from SAL_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SAL_RECORD
    <set >
      <if test="record.recordId != null" >
        RECORD_ID = #{record.recordId,jdbcType=DECIMAL},
      </if>
      <if test="record.recordTitle != null" >
        RECORD_TITLE = #{record.recordTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTime != null" >
        RECORD_TIME = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.customId != null" >
        CUSTOM_ID = #{record.customId,jdbcType=DECIMAL},
      </if>
      <if test="record.recordContent != null" >
        RECORD_CONTENT = #{record.recordContent,jdbcType=VARCHAR},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SAL_RECORD
    set RECORD_ID = #{record.recordId,jdbcType=DECIMAL},
      RECORD_TITLE = #{record.recordTitle,jdbcType=VARCHAR},
      RECORD_TIME = #{record.recordTime,jdbcType=TIMESTAMP},
      CUSTOM_ID = #{record.customId,jdbcType=DECIMAL},
      RECORD_CONTENT = #{record.recordContent,jdbcType=VARCHAR},
      COM_ID = #{record.comId,jdbcType=DECIMAL},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.SalRecord" >
    update SAL_RECORD
    <set >
      <if test="recordTitle != null" >
        RECORD_TITLE = #{recordTitle,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customId != null" >
        CUSTOM_ID = #{customId,jdbcType=DECIMAL},
      </if>
      <if test="recordContent != null" >
        RECORD_CONTENT = #{recordContent,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RECORD_ID = #{recordId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.SalRecord" >
    update SAL_RECORD
    set RECORD_TITLE = #{recordTitle,jdbcType=VARCHAR},
      RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      CUSTOM_ID = #{customId,jdbcType=DECIMAL},
      RECORD_CONTENT = #{recordContent,jdbcType=VARCHAR},
      COM_ID = #{comId,jdbcType=DECIMAL},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where RECORD_ID = #{recordId,jdbcType=DECIMAL}
  </update>
</mapper>