<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysBranchMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.SysBranch" >
    <constructor >
      <idArg column="SEC_ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="SEC_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SEC_COMMENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SEC_ID, SEC_NAME, SEC_COMMENT, COM_ID, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.SysBranchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_BRANCH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_BRANCH
    where SEC_ID = #{secId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_BRANCH
    where SEC_ID = #{secId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.SysBranchExample" >
    delete from SYS_BRANCH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.SysBranch" >
    insert into SYS_BRANCH (SEC_ID, SEC_NAME, SEC_COMMENT, 
      COM_ID, LAST_TIME)
    values (#{secId,jdbcType=DECIMAL}, #{secName,jdbcType=VARCHAR}, #{secComment,jdbcType=VARCHAR}, 
      #{comId,jdbcType=DECIMAL}, #{lastTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.SysBranch" >
    insert into SYS_BRANCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secId != null" >
        SEC_ID,
      </if>
      <if test="secName != null" >
        SEC_NAME,
      </if>
      <if test="secComment != null" >
        SEC_COMMENT,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secId != null" >
        #{secId,jdbcType=DECIMAL},
      </if>
      <if test="secName != null" >
        #{secName,jdbcType=VARCHAR},
      </if>
      <if test="secComment != null" >
        #{secComment,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.SysBranchExample" resultType="java.lang.Integer" >
    select count(*) from SYS_BRANCH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_BRANCH
    <set >
      <if test="record.secId != null" >
        SEC_ID = #{record.secId,jdbcType=DECIMAL},
      </if>
      <if test="record.secName != null" >
        SEC_NAME = #{record.secName,jdbcType=VARCHAR},
      </if>
      <if test="record.secComment != null" >
        SEC_COMMENT = #{record.secComment,jdbcType=VARCHAR},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_BRANCH
    set SEC_ID = #{record.secId,jdbcType=DECIMAL},
      SEC_NAME = #{record.secName,jdbcType=VARCHAR},
      SEC_COMMENT = #{record.secComment,jdbcType=VARCHAR},
      COM_ID = #{record.comId,jdbcType=DECIMAL},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.SysBranch" >
    update SYS_BRANCH
    <set >
      <if test="secName != null" >
        SEC_NAME = #{secName,jdbcType=VARCHAR},
      </if>
      <if test="secComment != null" >
        SEC_COMMENT = #{secComment,jdbcType=VARCHAR},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SEC_ID = #{secId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.SysBranch" >
    update SYS_BRANCH
    set SEC_NAME = #{secName,jdbcType=VARCHAR},
      SEC_COMMENT = #{secComment,jdbcType=VARCHAR},
      COM_ID = #{comId,jdbcType=DECIMAL},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where SEC_ID = #{secId,jdbcType=DECIMAL}
  </update>
</mapper>