<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysLogMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.SysLog" >
    <constructor >
      <idArg column="LOG_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ACCESS_IP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PERMISSION" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ACCESS_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOG_ID, USER_ID, ACCESS_IP, PERMISSION, ACCESS_TIME, COM_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.SysLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_LOG
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_LOG
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.SysLogExample" >
    delete from SYS_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.SysLog" >
    insert into SYS_LOG (LOG_ID, USER_ID, ACCESS_IP, 
      PERMISSION, ACCESS_TIME, COM_ID
      )
    values (#{logId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{accessIp,jdbcType=VARCHAR}, 
      #{permission,jdbcType=VARCHAR}, #{accessTime,jdbcType=TIMESTAMP}, #{comId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.SysLog" >
    insert into SYS_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        LOG_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="accessIp != null" >
        ACCESS_IP,
      </if>
      <if test="permission != null" >
        PERMISSION,
      </if>
      <if test="accessTime != null" >
        ACCESS_TIME,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="accessIp != null" >
        #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.SysLogExample" resultType="java.lang.Integer" >
    select count(*) from SYS_LOG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_LOG
    <set >
      <if test="record.logId != null" >
        LOG_ID = #{record.logId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.accessIp != null" >
        ACCESS_IP = #{record.accessIp,jdbcType=VARCHAR},
      </if>
      <if test="record.permission != null" >
        PERMISSION = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.accessTime != null" >
        ACCESS_TIME = #{record.accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_LOG
    set LOG_ID = #{record.logId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      ACCESS_IP = #{record.accessIp,jdbcType=VARCHAR},
      PERMISSION = #{record.permission,jdbcType=VARCHAR},
      ACCESS_TIME = #{record.accessTime,jdbcType=TIMESTAMP},
      COM_ID = #{record.comId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.SysLog" >
    update SYS_LOG
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="accessIp != null" >
        ACCESS_IP = #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        ACCESS_TIME = #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.SysLog" >
    update SYS_LOG
    set USER_ID = #{userId,jdbcType=DECIMAL},
      ACCESS_IP = #{accessIp,jdbcType=VARCHAR},
      PERMISSION = #{permission,jdbcType=VARCHAR},
      ACCESS_TIME = #{accessTime,jdbcType=TIMESTAMP},
      COM_ID = #{comId,jdbcType=DECIMAL}
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </update>
</mapper>