<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysPermissionColumnMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.SysPermissionColumn" >
    <constructor >
      <idArg column="COLUMN_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="COLUMN_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COLUMN_ID, COLUMN_NAME, REMARK, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.SysPermissionColumnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_PERMISSION_COLUMN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PERMISSION_COLUMN
    where COLUMN_ID = #{columnId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_PERMISSION_COLUMN
    where COLUMN_ID = #{columnId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.SysPermissionColumnExample" >
    delete from SYS_PERMISSION_COLUMN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.SysPermissionColumn" >
    insert into SYS_PERMISSION_COLUMN (COLUMN_ID, COLUMN_NAME, REMARK, 
      LAST_TIME)
    values (#{columnId,jdbcType=DECIMAL}, #{columnName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.SysPermissionColumn" >
    insert into SYS_PERMISSION_COLUMN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        COLUMN_ID,
      </if>
      <if test="columnName != null" >
        COLUMN_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        #{columnId,jdbcType=DECIMAL},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.SysPermissionColumnExample" resultType="java.lang.Integer" >
    select count(*) from SYS_PERMISSION_COLUMN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_PERMISSION_COLUMN
    <set >
      <if test="record.columnId != null" >
        COLUMN_ID = #{record.columnId,jdbcType=DECIMAL},
      </if>
      <if test="record.columnName != null" >
        COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_PERMISSION_COLUMN
    set COLUMN_ID = #{record.columnId,jdbcType=DECIMAL},
      COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.SysPermissionColumn" >
    update SYS_PERMISSION_COLUMN
    <set >
      <if test="columnName != null" >
        COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COLUMN_ID = #{columnId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.SysPermissionColumn" >
    update SYS_PERMISSION_COLUMN
    set COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where COLUMN_ID = #{columnId,jdbcType=DECIMAL}
  </update>
</mapper>