<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysUsersMapper" >
  <resultMap id="BaseResultMap" type="com.sc.bean.SysUsers" >
    <constructor >
      <idArg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="USER_PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMP_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="COM_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, USER_PASSWORD, EMP_ID, COM_ID, USER_STATE, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.bean.SysUsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USERS
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_USERS
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.SysUsersExample" >
    delete from SYS_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.SysUsers" >
    insert into SYS_USERS (USER_ID, USER_NAME, USER_PASSWORD, 
      EMP_ID, COM_ID, USER_STATE, 
      LAST_TIME)
    values (#{userId,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{empId,jdbcType=DECIMAL}, #{comId,jdbcType=DECIMAL}, #{userState,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.SysUsers" >
    insert into SYS_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="empId != null" >
        EMP_ID,
      </if>
      <if test="comId != null" >
        COM_ID,
      </if>
      <if test="userState != null" >
        USER_STATE,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=DECIMAL},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=DECIMAL},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.SysUsersExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USERS
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null" >
        EMP_ID = #{record.empId,jdbcType=DECIMAL},
      </if>
      <if test="record.comId != null" >
        COM_ID = #{record.comId,jdbcType=DECIMAL},
      </if>
      <if test="record.userState != null" >
        USER_STATE = #{record.userState,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USERS
    set USER_ID = #{record.userId,jdbcType=DECIMAL},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{record.userPassword,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=DECIMAL},
      COM_ID = #{record.comId,jdbcType=DECIMAL},
      USER_STATE = #{record.userState,jdbcType=VARCHAR},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.SysUsers" >
    update SYS_USERS
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        EMP_ID = #{empId,jdbcType=DECIMAL},
      </if>
      <if test="comId != null" >
        COM_ID = #{comId,jdbcType=DECIMAL},
      </if>
      <if test="userState != null" >
        USER_STATE = #{userState,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.SysUsers" >
    update SYS_USERS
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      EMP_ID = #{empId,jdbcType=DECIMAL},
      COM_ID = #{comId,jdbcType=DECIMAL},
      USER_STATE = #{userState,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>